:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }

  * {
    box-sizing: border-box;
    font-family: "Roboto-Slab", Tahoma, Verdana, sans-serif;
  }

body > aside {
  border-right: 200px blue;
  position: fixed;
}

body > aside > img {
  height: 140px;
  align-items: baseline;
  position:fixed;

}

body > main > header > img {
  height: 140px;
  align-items: baseline;
}

body > main > img {
  max-width: 2400px;
  height: auto;
  padding-top: 100px;
  padding-left: 100px;
}

body > aside > nav > ul {
  width: 500px;
  text-align: center;
  margin-right: 20px;
  font-size: 50px;
  text-decoration-color: var(--blue);
  font-family: "Roboto-Slab", Tahoma, Verdana, sans-serif;
  font-weight: bold;
  line-height: 100px;
  position: relative;

}

body aside ul {
  text-align: center;
  list-style: none;
}

main > img {
  position: relative;

  float: left;
}

body > main > header > img {
  float: top;
  float: left;
  top: 0px;
  margin-right: 20px;
  padding-left: 150px;
  height: 75px;
}

main > section {
  top: 200px;
    padding-top: 50px;
  display: inline-flex;
  word-wrap: break-word;
}


nav ul {
  float: left;
  padding-top: 100px;
  list-style: none;
  text-align: center;
  width: 200px;
}

aside {
  position: fixed;
  float: left;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  text-align: center;
  display: block;
  width: 200px;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  color: var(--green);
}

h3 {
  font-size: 0px;
}

#social {
  font-size: 0px;
}

body > main > footer > div > div > img  {
  position: relative;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  max-width: 0%;
  height: auto;
}
