:root {
    --blue: #00adee;
    --grey: #505355;
}

* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

#student-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas:
    "student-quote student-quote student-picture"
    "student-profile student-profile student-contact"
    "experience experience experience"
    "experience experience experience";
    grid-gap: 20px;
}


#student-quote {
    grid-area: student-quote;
    font-size: 18px;
    letter-spacing: 2px;
    padding-top: 70px;
    margin-left: 8px;
    margin-right: 8px;
    color: #505355;
}

#student-picture {
    grid-area: student-picture;
}

#student-picture > img {
    border-radius: 50%;
}

#student-profile {
    grid-area: student-profile;
    margin-left: 8px;
    color: #505355;
}

#student-contact {
    grid-area: student-contact;
    text-align: center;
    padding-right: 100px;
    font-style: italic;
    color: #505355;
}

#experience {
    grid-area: experience;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #505355;
}

#experience div {
    height: 300px;
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
}

#experience h3 {
   color: #00adee;
}

#te-logo {
    width: 18%;
    height: 10%;
    height: 10%;
    margin: 5px 8px 5px 8px;
    color: #505355;
}

.headline {
    width: 500px;
    height: 50px;
    margin: 5px 8px 5px 8px;
    letter-spacing: 3px;
    font-size: 40px
}

footer {
    margin-left: 8px;
    color: #505355;
}
